body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.twitter__link {
  position: absolute;
  bottom: 0.5rem;
  right: 2rem;
  transition: 0.5s all linear;
}

.twitter__link:hover {
  transform: translateY(-5px);
}

.twitter__link svg {
  font-size: larger;
}
